<h2>Saklar Jemuran</h2><br>

<%= form_tag({controller: "hello_models", action: "nyalain"}) do %>
  <%= submit_tag("NYALAIN") %>
<% end %>

<br><br>

<%= form_tag({controller: "hello_models", action: "matiin"}) do %>
  <%= submit_tag("MATIIN") %>
<% end %>

